@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10rem;
  margin-right: 10rem;
  
}

.ptag{
  text-align: cetner;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin: 0,auto;
}

.wrapper{
display:grid;
grid-template-columns: repeat 2,1fr;
gap:10px;
grid-auto-rows: 20px;
grid-template-areas: 
"a b b"
"a c c"
"a d d";
align-items: start;
}

.item1 {
  grid-area:a;
  min-width: 400px;
  padding-left:5rem ;
  margin-left: 10rem;
  padding-top: 4rem;
}

.item2 {
  grid-area:b;
  padding-top: 5rem;
  font-size: 45px;
  line-height: 50px;
  width:400px;
}

.item3 {
  grid-area:c;
  padding-top: 13rem;
  width:500px;
}

.buttonStyle {
  background-color: #0a0a0a;
  color: white;
  margin-top: 17rem;
  width: 140px;
 height: 40px;
  border-radius: 5px;
}

article{
 text-align: center;
 align-items: center;
margin-left: 30%;
 margin-right: 30%;
 margin-top: 3%;
 background-color: gray;
 border-radius: 10px;
 width: 630px;
 filter: drop-shadow(3px,3px,3px,3px black(3px,3px,0px,0px));
}

.artwork-post{
  margin-top: 350px;
  padding-left: 28%;
  padding-right: 35%;
}

.artwork-post1{
  margin-top: 350px;
}